*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


#home {
    background-image: url('assets/tinywow_51771987-abstract-modern-light-technical-background-_10223693.jpg');
    height: 100vh;
    scroll-snap-align:start;
  }


.homeline{
    float: right;
    text-align: right;
    margin-top: 50px;
    margin-right: 40px;
    padding-bottom: 5px;
    color: rgb(211, 134, 32);
    font-size: 75px;
}


img.myimg{
    display: inline-block;
    height: 300px;
    margin-left: 150px;
    clip-path: circle(30% at 50% 50%);
    transform: scale(200%);

}

.navbar{
    width: 100%;
    background-color: white;
    text-align: right;
    position:fixed;
    right: 2px;
    padding: 10px;
    border-bottom:solid 1px;
}

div.navbar a{
    text-decoration: none;
    font-size: 30px;
    margin:5px;
    color: black;
    padding-right:30px;
}

div.navbar a:hover{
    text-decoration: none;
    font-size: 27px;
    background-color: rgba(0, 0, 0, 0.16);
    padding-left: 25px;
    border-radius: 30px;
}

.arrow{
    position: relative;
    height: 60px;
    bottom: 10px;
    left: 50vw;
}



#abtme{
    background-image: url('assets/tinywow_51771987-abstract-modern-light-technical-background-_10223693.jpg') ;
    height: 100vh;
    text-align: center;
    scroll-snap-align:start;
    
}

h1{
    padding-top: 55px;
    font-size: 50px;
    color:rgb(211, 134, 32) ;
}

#abtme h3{
    font-size: 25px;
}

hr.social{
    width: 30vw;
    align-self: center;
    margin-bottom: 4px;
}
.logos{
    display: flex;
    justify-content: center;
    height: 50px;
}

img.in{
    height:40px;
}

img.insta{
    height:40px;
}